!!!
%html{:lang => 'en'}
  %head
    %title N-Mario
    %link{:rel => 'stylesheet', :href => 'assets/libs/bootstrap/css/bootstrap.min.css'}
    %link{:rel => 'stylesheet', :href => 'assets/libs/bootstrap/css/bootstrap-theme.min.css'}
    %link{:rel => 'shortcut icon', :href => 'favicon.ico'}
  %body
    %h1 N-Mario
    %script{:type => 'text/javascript', :src => 'assets/libs/jquery/jquery.min.js'}
    %script{:type => 'text/javascript', :src => 'assets/libs/bootstrap/js/bootstrap.min.js'}
    %script{:type => 'text/javascript', :src => 'assets/libs/phaser/phaser.min.js'}
    %script{:type => 'text/javascript', :src => 'assets/js/n-mario.js'}
