/* Global Style */
body {
  font-family: 'SMB Outline' !important;
  margin: 0;
  padding: 0;
}

div.container {
  margin: 0 auto;
  padding: 0 60px;
  max-width: 960px;

  &#content_index, &#content_room &#content_game {
    padding-top: 60px;
    padding-bottom: 48px;
  }
}

.button, textarea, input {
  font-family: 'SMB Filled' !important;
}


/* Index Style */
#content_index {

}


/* Room Style */
#content_room {
  #message_board {
    font-family: 'SMB Filled' !important;
  }

  .player_color {
    background-image: url('./../sprites/mario-color.png');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
  }
}

/* Game Style */
#content_game {

}
