/* Global Style */
body {
  font-family: 'SMB Outline' !important;
  margin: 0;
  padding: 0;
}

div.container {
  margin: 0 auto;
  padding: 0 60px;
  max-width: 960px;

  &#content_index, &#content_room, &#content_game {
    padding-top: 60px;
    padding-bottom: 48px;
  }
}

.button, textarea, input {
  font-family: 'SMB Filled' !important;
}

.player_color {
  background-image: url('./../sprites/mario-color.png');
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  display: inline-block;
}


/* Index Style */
#content_index {
  .ui.piled.segment.room:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 0, 0, 0.35);
    -ms-box-shadow: 0 0 1px 1px rgba(255, 0, 0, 0.35);
    -o-box-shadow: 0 0 1px 1px rgba(255, 0, 0, 0.35);
    box-shadow: 0 0 1px 1px rgba(255, 0, 0, 0.35);

    &:before, &:after {
      -webkit-box-shadow: 0 0 1px 1px rgba(255, 0, 0, 0.2);
      -ms-box-shadow: 0 0 1px 1px rgba(255, 0, 0, 0.2);
      -o-box-shadow: 0 0 1px 1px rgba(255, 0, 0, 0.2);
      box-shadow: 0 0 1px 1px rgba(255, 0, 0, 0.2);
    }
  }
}


/* Room Style */
#content_room {
  #message_board {
    font-family: 'SMB Filled' !important;
    height: 140px;
    overflow-y: auto;
  }
  #player_list {
    .self {
      .player_name {
        &:before {
          content: '* ';
        }
      }
      .player_color {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

/* Game Style */
#content_game {

}
